# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output of `go tool pprof`
*.prof

# Stuff to ignore for now
marshal_hack.go
benchmark-results
.vscode/launch.json
debug_test.go
debug.go
scratchpad/
plots/
cmd/bbhashbench/bbhashbench
cmd/bbhashbench/bbhash-data.tgz
cmd/bbhashbench/bbhashbench_2023-09-15_21-49-14/
cmd/bbhashbench/plot/
bbhash.test_2023-09-17_00-29-22/
